.box-1{
    height: 100px;
    width: 100px;
    background-color: ;
}
.box-2{
    height: 100px;
    width: 100px;
    background-color: ;
}
.box-3{
    height: 100px;
    width: 100px;
    background-color: ;
}
.box-4{
    height: 100px;
    width: 100px;
    background-color: ;
}
.box-5{
    height: 100px;
    width: 100px;
    background-color: ;
}